@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-family: 'Roboto', sans-serif;
  height:100%;
}
body{
    background-color: #f3faff;
}
#userScreenBody{
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.update_website_full{
    transform: scale(0,0);
    height:495px;
    width:400px;
    margin:20px 20px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px 0px;
    background-color: white;
    text-align: center;
    overflow:hidden;
    -webkit-animation: bummer 0.5s;
    animation: bummer 0.5s;
    -webkit-transform: scale(0,0); 
    transform: scale(0,0);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#syn_updater_3{
    display:none;
}
#syn_updater_2{
    display:none;
}
#syn_updater{
    
}

@-webkit-keyframes bummer {
100% {
    -webkit-transform: scale(1,1); 
}
}

@keyframes bummer {
100% {
    transform: scale(1,1); 
}
}
.card_name{
    color:rgb(52, 37, 189);
}
.labelInputHandler{
    padding-top:50px;
}
#inputHandler{
    width:250px;
    margin:auto;
    margin-top:10px;
    /* background-color: #dddfff; */
    padding:10px 10px 5px 10px;
    border:1px solid rgb(204, 204, 204);
    border-radius:4px;
    padding: 12px 20px;
    border-radius: 16px;
    box-shadow: rgba(210, 210, 210, 0.44) 0px 5px 30px;
}
.web_site{
    width:100%;
    border:none;
    font-size:15px;
    /* border-bottom:1px solid gray; */
}
.web_site:focus{
    outline: none;
}
.addSiteBtn{
    padding:13px 30px;
    font-size:15px;
    margin-top:60px;
    border-radius:10px;
    background-color: #3d5af1;
    color: white;
    border: none;
    box-shadow: 3px 4px 14px #3d5af1db;
    width: 72%;
    letter-spacing: 2px;
    cursor:pointer;
}
.addSiteBtn:focus{
    outline:none;
}
.search_categories{
    font-size: 13px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    width:280px;
    margin:auto;
    margin-top:10px;
}

.search_categories .select{
    width: 70%;
    /* background:url('arrow.png') no-repeat; */
    background-position:80% center;
    padding: 6px 16px;
    border-radius: 16px;
    box-shadow: rgba(210, 210, 210, 0.44) 0px 5px 30px;
}
#search_categories:focus{
    outline:none;
}
#search_categories{
    padding: 10px 8px 10px 14px;
}
.search_categories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}
option{
    width:400px;
}
#reRunner{
    width:83%;
    border-radius:10px;
    background-color: white;
    display: flex;
    border-radius: 16px;
    padding:22px 22px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px 0px;
    margin:auto;
    -webkit-animation: bummer 0.5s;
    animation: bummer 0.5s;
    -webkit-transform: scale(0,0); 
    transform: scale(0,0);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: none;
    margin-top:20px;
}
#reRunnerLeft{
    flex:7;
    text-align:center;
}
#reRunnerRight{
    flex:3;
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
}
#re_run{
    margin:0;
}
p{
    color:gray;
}